/************************************/
/*             PALETTE              */
/************************************/
@background-gray: #f1f1f1;
@border-white: #bababa;
@brown: #594F4F;
@blue-1: #547980;
@blue-2: #45ADA8;
@green: #9DE0AD;
@beige: #E5FCC2;

/************************************/
/*               PAGE               */
/************************************/
body {
  background-color: @background-gray
}

#header-canvas
.container {

}
